<footer style="background-color: #006600;" class="text-white py-4">
        <div class="text-center mt-3">
            <h2>مجھے امید ہے کہ ایک دن آپ ہمارے ساتھ شامل ہوں گے اور دنیا ایک ہو جائے گی۔</h2>
                <p>&copy; 2025 KYK Foundation. All rights reserved.</p>
                <div>
                    <a href="#" style="color: #1877f2; margin-right: 15px;"><i class="fa-brands fa-facebook-f"></i></a>
                    <a href="#" style="color: #ac2bac; margin-right: 15px;"><i class="fab fa-instagram"></i></a>
                    <a href="#" style="color: #14171a; margin-right: 15px;"><i class="fa-brands fa-x-twitter"></i></a>
                </div>
            </div>
        </div>
    </footer>
