{% load static %}
<!-- Navbar -->
    <nav class="navbar navbar-expand-sm navbar-dark" style="background-color: #006600;">

    <!-- Toggler button for collapse on small screens -->
    <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
                </button>

    <!-- Collapsible wrapper for nav items -->
    <div class="collapse navbar-collapse" id="navbarNav">

        <!-- Left nav items -->
        <ul class="navbar-nav">
            <li class="nav-item"><a class="nav-link text-white" href="{% url "supports:contact" %}">Contact Us</a></li>
            <li class="nav-item"><a class="nav-link text-white" href="{% url "supports:support" %}">Support Us</a></li>
            <li class="nav-item"><a class="nav-link text-white" href="{% url "workshops:workshop" %}">Workshops</a></li>
            <li class="nav-item"><a class="nav-link text-white" href="{% url "kyks:kyk" %}">Kung Yung Koon</a></li>
            <li class="nav-item"><a class="nav-link text-white" 
            href="{% url "pages:about" %}">About Us</a></li>
            <li class="nav-item"><a class="nav-link text-white" href="{% url "pages:index" %}">Home</a></li>
            <!-- other left nav items -->
        </ul>

        <!-- Right-aligned navigation items -->
        <ul class="navbar-nav ml-auto">
            {% if user.is_authenticated %}
            <li class="nav-item mr-3 active">
            <a class="nav-link" href="{% url 'accounts:dashboard' %}">
                <i class="fas fa-user-plus"></i> Welcome {{ user.username }} (dashboard)</a>
            </li>
            <!-- logout -->
            <li class="nav-item mr-3">
                <a href="javascript:{document.getElementById('logout').submit()}" class="nav-link">
                    <i class="fas fa-sign-out-alt"></i>Logout
            </a>
        <form action="{% url 'accounts:logout' %}" method="POST" id="logout">
            {% csrf_token %}
            <input type="hidden"/>
        </form>
        </li>
            {% else %}
            
            <li class="nav-item mr.3 active">
                <a class="nav-link text-white" href="{% url "accounts:login" %}">Login</a></li>
            
            <li class="nav-item mr-3 active">
                <a class="nav-link text-white" href="{% url "accounts:register" %}">Register</a></li>
            {% endif %}
            <img src="{% static 'images/logo3.png' %}" alt="KYK Logo" style="height:40px;">
        </ul>
    </div>
    </nav>


