{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container right-panel-active">
    <!-- Registration Form -->
    <div class="container_form container--signup">
        <div class="row">
            <div class="col-md-6 mx-auto">
                <div class="register-container">
                    <div class="register-header">
                        <h4><i class="fas fa-user-plus"></i> Register</h4>
                    </div>
                    <div class="card-body">
                        <form action="{% url 'accounts:register' %}" method="POST">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="first_name">First Name</label>
                                <input id="first_name" type="text" name="first_name" class="form-control" required />
                            </div>
                            <div class="form-group">
                                <label for="last_name">Last Name</label>
                                <input id="last_name" type="text" name="last_name" class="form-control" required />
                            </div>
                            <div class="form-group">
                                <label for="username">Username</label>
                                <input id="username" type="text" name="username" class="form-control" required />
                            </div>
                            <div class="form-group">
                                <label for="email">Email</label>
                                <input id="email" type="email" name="email" class="form-control" required />
                            </div>
                            <div class="form-group">
                                <label for="password">Password</label>
                                <input id="password" type="password" name="password" class="form-control" required />
                            </div>
                            <div class="form-group">
                                <label for="password2">Confirm Password</label>
                                <input id="password2" type="password" name="password2" class="form-control" required />
                            </div>
                            <button type="submit" value="Register" class="btn btn-custom">Register</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Login Form -->
    <div class="container_form container--signin">
        <div class="row">
            <div class="col-md-6 mx-auto">
                <div class="login-container">
                    <div class="login-header">
                        <i class="fas fa-sign-in-alt"></i>
                        <h4>Login</h4>
                    </div>
                    <div class="card-body">
                        <form action="{% url 'accounts:login' %}" method="POST">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="username">Username</label>
                                <input type="text" name="username" class="form-control" required />
                            </div>
                            <div class="form-group">
                                <label for="password">Password</label>
                                <input type="password" name="password" class="form-control" required />
                            </div>
                            <button type="submit" class="btn btn-custom">Login</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Overlay for Switching -->
    <div class="container_overlay">
        <div class="overlay">
            <div class="overlay_panel overlay--left">
                <button class="btn" id="signIn">Login</button>
            </div>
            <div class="overlay_panel overlay--right">
                <button class="btn" id="signUp">Register</button>
            </div>
        </div>
    </div>
</div>

<script src="{% static 'js/register_login.js' %}"></script>

{% endblock %}