.login-container {
            max-width: 400px;
            margin: 50px auto;
            padding: 20px;
            background-color: #f9f9f9;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        .login-header {
            color: #006600;
            text-align: center;
            margin-bottom: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;
        }

        .login-header i {
            color: #006600;
            font-size: 1.5em;
        }

        .login-header h4 {
            font-size: 1.7em;
            margin: 0;
        }

        .form-group label {
            color: #006600;
        }

        .btn-custom {
            background-color: #006600;
            color: white;
            border-color: #006600;
            padding: 12px 20px;
            font-size: 1.2em;
            width: 100%;
            /* Added to fill the width */
        }