{% extends "base.html" %}
{% load static %}
{% block content %} 

<!-- make changes on the margin of the footer only at this page -->
<body class="home-page">
<style>
  .donation_card {
            top: 50px;
            bottom: 50px;
            left: 20px;
            right: 20px;
            opacity: 0.8;
            background-color:  rgba(196, 192, 192, 0.74); 
            padding: 20px;
            border-radius: 8px;
            box-shadow: #006600;
            
        }
</style>

<!-- Donation Section -->
    <div class="background-area" >
            <div
        style="
        text-align: center;
        opacity: 0.8;
        background: rgba(196, 192, 192, 0.74);
        padding: 20px;
        border-radius: 8px;
        width: 50%;
        max-width: 500px;
        margin-bottom: 180px;
        margin-top: 30px;
        "
    >
            <h2 style="color:#006600">Please donate KYK Foundation</h2>
        </div>
        <div class="lead mb-4 donation-card" style="width: 50%; max-width: 500px">
            <input type="hidden" id="hiddenFormAction" value="{% url 'supports:donation2' %}">
            <form id="donation_form" method="POST">
                {% csrf_token %}

                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">HKD</span>
                    </div>
                    <input type="number" id="contribute_fund" name="contribute_fund" class="form-control" placeholder="Contribute Fund" min="1" required>
                </div>
                <div class="form-group input-group">
                    <input type="checkbox" id="receipt" name="receipt" value="Y" checked>
                    <label for="receipt">&nbsp;&nbsp;Get Receipt</label><br>
                </div>
                <div class="form-group input-group">
                    <input type="text" id="first_name" name="first_name" class="form-control" placeholder="First Name">
                </div>
                <div class="form-group input-group">
                    <input type="text" id="last_name" name="last_name" class="form-control" placeholder="Last Name">
                </div>
                <div class="form-group input-group">
                    <input type="text" id="email" name="email" class="form-control" placeholder="Email">
                </div>
                <button type="submit" class="support-button" onclick="showThankYouModal(event);">Donate</button>
            </form>
        </div>
    </div>


    <!-- Thank You Modal -->
    <div class="modal fade" id="thankYouModal" position: relative; tabindex="-1" role="dialog" aria-labelledby="thankYouModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title" id="thankYouModalLabel">Thank You for Your Donation!</h2>
                    <button id="abc" type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Thank you so much for your sincere donation to KYK Foundation. Your support surely helps us to continue Kung Yung Koon's spirit.
                </div>
                <div class="modal-footer">
                    <button id="def" type="button" class="btn btn-light" data-dismiss="modal" onclick="closeThankYouModal();">Close</button>
                </div>
            </div>
        </div>
    </div>
    <script>
        document.getElementById('receipt').addEventListener('change', (event) => {
            if (event.target.checked) {
                document.getElementById("first_name").disabled = false;
                document.getElementById("last_name").disabled = false;
                document.getElementById("email").disabled = false;
            } 
            else {
                document.getElementById("first_name").disabled = true;
                document.getElementById("last_name").disabled = true;
                document.getElementById("email").disabled = true;
            }
        });
    </script>
{% endblock %}