{% extends "base.html" %}
{% load static %}
{% block content %} 

    <header>
        <h1></h1>
    </header>

    <div class="apply">
        {% include 'partials/_alert.html' %}
        <form id="volunteerForm" action="{% url 'enrolments:update' %}" method="post">
            <!--<label for="applicationType">Application Type:</label>
            <select id="applicationType" name="applicationType" required onchange="toggleWorkshopDropdown()">
                <option value="" disabled selected>Select an option</option>
                <option value="volunteer">Volunteer Registration</option>
                <option value="workshop">Workshop Application</option>
            </select>-->
            {% csrf_token %}
			<input type="hidden" id="workshop_id" name="workshop_id" value="{{workshop_id}}">

            <label for="workshop">Workshop: {{workshop}}</label>

            <label for="name">First Name:</label>
            <input type="text" id="first_name" name="first_name" required>

            <label for="name">Last Name:</label>
            <input type="text" id="last_name" name="last_name" required>

            <label for="gender">Gender:</label>
            <select id="gender" name="gender" required>
                <option value="" disabled selected>Select your gender</option>
                <option value="male">Male</option>
                <option value="female">Female</option>
                <!-- <option value="others">Others</option>-->
            </select>

            <label for="phone">Phone Number:</label>
            <input type="text" id="phone" name="phone" required>

            <label for="email">Email Address:</label>
            <input type="email" id="email" name="email" required>

            

            <button type="submit">Submit</button>
        </form>
    </div>

{% endblock %}
