.timeline {
            position: relative;
            margin: 2rem auto;
            max-width: 1000px;
        }
        .timeline::before {
            content: '';
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            width: 2px;
            height: 100%;
            background: #d4f4d2;
            box-shadow: 0 0 10px #d4f4d2;
        }
        .modal-content {
            background-color: #2e2e2e; /* Dark gray background */
            color: white; /* White text */
        }
        .timeline-event {
            position: relative;
            margin-bottom: 3rem;
            padding: 2rem;
            border-radius: 10px;
            background: #006600; /* Green background */
            color: white; /* White text */
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
            cursor: pointer;
            transition: transform 0.2s ease-in-out;
        }
        .timeline-event:hover {
            transform: scale(1.05);
        }
        .timeline-event::before {
            content: '';
            position: absolute;
            top: 20px;
            width: 20px;
            height: 20px;
            background: #d4f4d2;
            border-radius: 50%;
            border: 4px solid #006600;
            box-shadow: 0 0 10px #d4f4d2;
        }
        .timeline-event-left {
            margin-left: 55%;
            text-align: left;
        }
        .timeline-event-left::before {
            left: -10px;
        }
        .timeline-event-right {
            margin-right: 55%;
            text-align: right;
        }
        .timeline-event-right::before {
            right: -10px;
        }

        .gallery img {
            width: 100%; /* Full width for photos */
            height: auto; /* Maintain aspect ratio */
            margin-bottom: 10px; /* Space between photos */
            border-radius: 10px; /* Rounded corners */
        }