/* adjust the top margin of footer only at this page */
.home-page footer {
margin-top: 0 !important;
padding-top: 2rem;
}
.home-page footer .container {
margin-top: 0;
margin-bottom: 0;
padding-top: 0;
padding-bottom: 0;
}
.home-page footer p {
margin-top: 0;
margin-bottom: 0;
}
.home-page .cta .container > *:last-child {
margin-bottom: 0 !important;
}

.hero-image {
            background-image: url("../images/support.jpg");
            background-color: #cccccc;
            height: 700px;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            position: relative;
        }

        .hero-text {
            text-align: center;
            position: absolute;
            top: 80%; /* Increase from 50% to shift down */
            left: 50%;
            transform: translate(-50%, -50%);
            color: #fff; /* White text for other elements */
        }

        .support-button {
            background-color: #28a745;
            color: white;
            padding: 10px 20px;
            border: none; /* Remove border */
            border-radius: 5px;
            cursor: pointer;
            text-decoration: none;
            font-size: 18px;
            outline: none; /* Remove outline on focus */
            box-shadow: none; /* Remove any shadow */
        }